* {
  padding: 0;
  margin: 0;
}

.main {
  background-color: rgb(240, 248, 255);
  color: #000;
  margin: 15% 30% 30% 30%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border: rgb(51, 190, 214) 3px solid;
  padding: 50px;
}

.main ul {
  letter-spacing: 1px;
  list-style: none;
  font-size: 16px;
  line-height: 20px;
}

h3 {
  color: #000;
  font-style: bold;
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
  color: rgb(62, 168, 255);
}

a:active {
  text-decoration: underline;
  color: rgb(62, 168, 255);
}
